.zig-cache/*
zig-out/*
.github/workflows/.zig-cache/
.env
.env.*
!.env.example
test-*/*
config.json
zig-linux-x86_64-0.13.0/*
.cursor/*
crun-*/*
crun-*.tar.gz

# Ignore everything in zig directory except download.sh and .gitkeep
/zig/*
!/zig/download.sh
!/zig/.gitkeep
.backup/*
