name: Documentation

on:
  push:
    branches: [ main ]
    paths:
      - '**.md'
      - 'docs/**'
  pull_request:
    branches: [ main ]
    paths:
      - '**.md'
      - 'docs/**'

jobs:
  markdown-lint:
    name: Markdown Lint
    runs-on: [self-hosted, runner0]
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
      - uses: DavidAnson/markdownlint-cli2-action@v15
        with:
          config: .markdownlint-cli2.jsonc
          globs: |
            README.md
          
  spell-check:
    name: Spell Check
    runs-on: [self-hosted, runner0]
    steps:
      - uses: actions/checkout@v4
      - uses: streetsidesoftware/cspell-action@v5
        with:
          files: |
            **/*.md
            !node_modules/**/*.md
        
  dead-links:
    name: Check Dead Links
    runs-on: [self-hosted, runner0]
    steps:
      - uses: actions/checkout@v4
      - uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          use-quiet-mode: 'yes'
          use-verbose-mode: 'yes'
          config-file: '.mlc.config.json'
          folder-path: '.'
          file-path: './README.md'
          max-depth: 2 