name: Simple CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Zig
        uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.13.0

      - name: Build
        run: zig build

      - name: Test
        run: zig build test

      - name: Help test
        run: ./zig-out/bin/proxmox-lxcri --help

      - name: Version test
        run: ./zig-out/bin/proxmox-lxcri version
